<nav>
  <div class="site-title">
    <a href="/"><h1>iCellUsed</h1></a>
    <p>demande le jeux que tu cherche, et on tentera de le trouver pour toi</p>
  </div>
  <ul>
    <li><a href="/">Voir Les Recherches En Cours</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Lancer Une Recherche</a></li>
  </ul>
</nav>