<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>


  <div class="about content container pb-5 pt-5">
    <h2>Comment ca marche?</h2>
    <h4>Si vous êtes un acheteur (collectionneur) à la recherche d'un jeux</h4>
    <p>sur cette application, il y a une liste de toutes les demandes de jeux à trouver. Si vous cherchez vous même un jeux, il suffit de créer une demande pour faire partie de la liste. Un de nos revendeurs vous contacteras si il a le jeux que vous recherchez parmis tout les jeux qu'il a à vendre.<br>Vous serez ensuite contacté par courriel par ce même revendeur qui vous proposeras son prix selon le prix que vous êtes prêt à payer.</p>
  
    <h4>Si vous êtes un revendeur à la recherche de clients</h4>
    <p>Vous pouvez simplement entrer sur le site, consulter la liste voir si quelqu'un est intéressé par l'un de vos jeux.</p>
 
  <div>
  <%- include('./partials/footer.ejs') %>

</body>
</html>